#ht
{
    background-image:url("../imagini/retro.jpg");
}

#se1
{
    background-color: blueviolet;
}

#se2
{
    background-color: blueviolet;
}

#se3
{
    background-color: blueviolet;
}

#se4
{
    background-color: blueviolet;
}

#se5
{
    background-color: blueviolet;
}

#se6
{
    background-image:url("../imagini/retropurpleglasses.jpg");
}

#textse6
{
    background-color: blueviolet;
}